
/*https:pexels.com for images*/
/*we used canva for same size of images*/
*{
    margin: 0px;
    padding: 0px;
}

.top{
    height: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.234);
    display: flex;
}

.top .logo{
    margin-left: Opx;
}

.top h1{
    
    margin-left: 520px;
    text-align: center;
    margin-top: 10px;
}

body{
    background-color: black;
}

.navbar{
    width:100% ;
    height: 60px;
    background-color: white;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    
    list-style: none;
    font-size: 26px;
    margin-inline: 30px;
    margin-top: 15px;
    font-weight: 700;
    
}

ul li:hover{
    font-size: 30px;
    cursor: pointer;
    border: 3px solid red;
    border-radius: 4px;
}

.container{
    margin-top: 30px;
    color: white;
    
}

.container .row{
    display:flex ;
    justify-content: center;
   padding-bottom: 15px;
}

.container .row .img{
    margin-inline: 30px;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}
    

.container .row .img img{
    width: 100%;
}

.container .row .img button{
    width: 150px;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    font-size: 22px;
    border-radius: 4px;
    margin-top: 10px;
}

.container .row .img h2{
    margin-top: 15px;
    margin-bottom: 10px;
}

.container .row .img button:hover{
    border: 4px solid white;
    font-size: 27px;
    cursor: pointer;
}

.container .row .img h2:hover{
    color: red;
    font-size: 30px;

}

.container .row .img img:hover{
    width: 104%;
    cursor: pointer;
}



footer{
    height: 80px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.074);
    border-top: 1px solid white;
}

.right{
    color: white;
   text-align: center;
   margin-top: 25px;
}


/*for responsiveness we used media-query*/
@media(max-width:830px){
    .container .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:685px){
.container .row .img img{
    width: 130%;
}
.container .row .img img:hover{
    width:135% ;
}

.navbar ul li{
  margin-inline: 12px;
  font-size: 25px;
  font-weight: 800;
}


}

@media(max-width:560px){
    .container .row .img img{
        width: 115%;
    }
    .container .row .img img:hover{
        width:120% ;
    }

   
    
}

 @media(max-width:450px){
     .container .row .img img{
         width: 100%;
       }
       .container .row .img img:hover{
        width:105% ;
       }

       .navbar ul li{
        margin-inline: 5px;
        font-size: 15px;
        font-weight: 600;
    }
       
}
    





